language: php

php:
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - hhvm
  - nightly


install:
  - travis_retry composer self-update
  - travis_retry composer install --prefer-dist --dev

script:
  - mkdir -p build/logs
  - phpunit  -c phpunit.xml.dist
after_script:
  - php vendor/bin/coveralls -v
